:root {
  --primary-color: #824670;
  --secondary-color: #e7b3cf;
  --accent-color: #54cfa6;
  --text-color: #3b1831;
  --danger-color: #c4364e;
  --spacing: 0.5em;
}

* {
  box-sizing: border-box;
}

/* input {
  padding: 0.2em 0.4em;
  font-weight: bold;
  font-family: inherit;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  color: var(--text-color);
  background-color: var(--primary-color-translucent);
}

input:focus {
  outline: 2px solid var(--secondary-color);
}

::placeholder {
  color: var(--text-color-translucent);
}  */
