:root {
  --primary-color: #824670;
  --secondary-color: #f9c3e0;
  --accent-color: #76d1b3;
  --text-color: #3b1831;
  --danger-color: #c62c45;
  --spacing: 0.5em;
}

* {
  box-sizing: border-box;
}
